/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.index-item {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 22px;
	width: 200px;
	height: 100px;
	text-align: left
}

.list {
	border: 1px solid gray;
	border-radius: 4px;
	margin: 5px;
	padding: 5px 5px;
}

.list-name {
	margin-top: 0px;
}

.card {
	margin-top: 2px;
	padding: 5px 5px;
	border: 1px solid gray;
	border-radius: 4px;
}